<%- include('header') -%>

<table>
    <th >
        <tr class="table-header">
            <td>Nombre</td>
            <td>Precio</td>
            <td>Nuevo</td>
            <td>Categorías</td>
            <td>URL imagen</td>
            <td>Descripción</td>
            <td>Link</td>
        </tr>
    </th>

    <% for (let i = 0; i < products.length; i++) { %>
        <% const product = products[i] %>
            <tr class=<%- i % 2 === 0 ? "even-row" : "odd-row" %>>
                <td> <%= product.name %> </td>
                <td class="price-column"> <%= product.price.toFixed(2).replace(/[.]/, ',') %> €</td>
                <td class= <%- product.new === true ? "new-true" : "new-false" %> > <%= product.new %> </td>
                <td> <%= product.tags %> </td>
                <td>images/products/<%= product.image %> </td>
                <td> <%= product.description %> </td>
                <td><a href="/products/<%= product.name %>">Ver</a></td>
            </tr>
    <% } %>

</table>

<%- include('footer') -%>