<%- include('header') -%>

<hr />

<h3><%= article.name %></h3>
<h3><%= (article.price).toFixed(2).replace(/[.]/, ',') %> €</h3>
<img
  src="/images/products/<%= article.image %>"
  alt="<%= article.description %> "
  width="30%"
/>
<p><%= __('Details') %>: <%= article.description %></p>
<p><%= __('Condition') %>: <%= article.new ? __('New') : __('Used') %></p>
<p>
  <%= __n('Tag', article.tags.length) %>: <%= article.tags.map(item => item).join(', ') %>
</p>

<hr />

<a href="/products"><%= __('Back to list') %></a>

<%- include('footer') -%>
